$pwshModules = @(
    "MSOnline"
    "AzureAD"
    "ExchangeOnlineManagement"
)

$wingetPackages = @(
    "Microsoft.PowerShell"
    "7zip.7zip"
)

$chocoPackages = @(
    "vscodium"
)

$regHacks = @(
    @{ 
        path = "Registry::HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Search"
        name = "BingSearchEnabled"
        value = "0"
    }
    @{ 
        path = "Registry::HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Search"
        name = "SearchboxTaskbarMode"
        value = "0"
    }
    @{ 
        path = "Registry::HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\SearchSettings"
        name = "IsDynamicSearchBoxEnabled"
        value = "0"
    }
    @{ 
        path = "Registry::HKEY_CURRENT_USER\Software\Policies\Microsoft\Windows\Explorer"
        name = "DisableSearchBoxSuggestions"
        value = "1"
        restart = $true
    }
    @{ 
        path = "Registry::HKEY_CLASSES_ROOT\.ps1"
        name = "(default)"
        value = 'PS.ps1'
        type = "String"
    }
    @{ 
        path = "Registry::HKEY_CLASSES_ROOT\PS.ps1"
        name = "(default)"
        value = 'File .ps1'
        type = "String"
    }
    @{ 
        path = "Registry::HKEY_CLASSES_ROOT\PS.ps1\Shell\Open"
        name = "FriendlyAppName"
        value = 'PS'
        type = "String"
    }
    @{ 
        path = "Registry::HKEY_CLASSES_ROOT\PS.ps1\Shell\Open\Command"
        name = "(default)"
        value = '"C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe" "%1"'
        type = "String"
    }
)

function loadSettingsVars {
    $result = @{
        pwshModules = $pwshModules
        wingetPackages = $wingetPackages
        chocoPackages = $chocoPackages
    }
    return $result
}
